<template>
  <v-app>
    <v-toolbar color="blue-grey" dense dark fixed app>
      <v-tabs slot="extension" color="white" max="100" fixed-tabs light>
        <v-tab v-for="n in 3" :key="n">Item {{ n }}</v-tab>
      </v-tabs>
      <v-spacer></v-spacer>
      <v-btn icon>
        <v-icon>assignment</v-icon>
      </v-btn>
      <v-menu nudge-bottom="45" left>
        <v-btn slot="activator" icon>
          <v-badge right overlap>
            <span slot="badge">6</span>
            <v-icon>notifications</v-icon>
          </v-badge>
        </v-btn>
        <v-list dense>
          <v-list-tile v-for="n in 3" :key="n">
            <v-list-tile-title>Item {{ n }}</v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-menu>
      <v-menu nudge-bottom="45" left>
        <v-btn slot="activator" dark icon>
          <v-avatar size="32px">
            <img
              src="https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=3286832264,2087260764&fm=26&gp=0.jpg"
              alt="Vuetify"
            >
          </v-avatar>
        </v-btn>
        <v-list dense>
          <v-list-tile v-for="n in 3" :key="n">
            <v-list-tile-title>Item {{ n }}</v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-menu>
    </v-toolbar>
    <v-content>
      <v-container fluid>
        <router-view></router-view>
      </v-container>
    </v-content>
  </v-app>
</template>

<style lang="scss">
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
